node_red/node_red_flow.json
[
    {
        "id": "acc8bcd040b7cdba",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cbcb5b50a82bd43",
        "type": "mqtt in",
        "z": "acc8bcd040b7cdba",
        "name": "",
        "topic": "Ehab/Parking/NumNoPlaceCars",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5260ab12c9654829",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "92d5d08228b23926"
            ]
        ]
    },
    {
        "id": "0650092fb0ac4080",
        "type": "mqtt in",
        "z": "acc8bcd040b7cdba",
        "name": "",
        "topic": "Ehab/Parking/CarsInParking",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "439d773a0679fe1d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "579e0b42c6f00f9a"
            ]
        ]
    },
    {
        "id": "92d5d08228b23926",
        "type": "ui_text",
        "z": "acc8bcd040b7cdba",
        "group": "b07fc01abaa5f9c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "blocked cars",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "579e0b42c6f00f9a",
        "type": "ui_chart",
        "z": "acc8bcd040b7cdba",
        "name": "",
        "group": "b07fc01abaa5f9c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "cars in parking",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3ddc575accf1be4e",
        "type": "remote-access",
        "z": "acc8bcd040b7cdba",
        "confignode": "0ae32b389e48f69d",
        "name": "",
        "verbose": 0,
        "x": 1060,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5260ab12c9654829",
        "type": "mqtt-broker",
        "name": "smartparking2",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "439d773a0679fe1d",
        "type": "mqtt-broker",
        "name": "smartparcking2",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b07fc01abaa5f9c3",
        "type": "ui_group",
        "name": "blocked cars",
        "tab": "881171d2f3f61ee3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ae32b389e48f69d",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "6tmgf4hhb00igt05lt96a5mdopifgyx6waoajz083zl2dkh7cik7i1ypuitarpb7",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "881171d2f3f61ee3",
        "type": "ui_tab",
        "name": "smartparcking2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "083b3349c5a7a367",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-remote": "2.0.3"
        }
    }
]